<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>協和合成株式会社 | フィルター製造販売</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/about.css">
  <link rel="stylesheet" href="css/catalog.css">
  <link rel="stylesheet" href="css/contact.css">
  <link rel="stylesheet" href="css/privacy.css">

</head>
<body>
  <%- include('partials/header') %>
    <!-- ヘッダーのインクルード -->
    <%- include('about') %>
      <!-- 事業内容セクションのインクルード -->
      <%- include('catalog') %>
        <!-- 商品カタログセクションのインクルード -->
        <%- include('contact') %>
          <!-- お問い合わせセクションのインクルード -->
          <%- include('partials/footer') %>
            <!-- フッターのインクルード -->
</body>
</html>
